<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Модульный JS

	link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
	link(rel="stylesheet", href="style/style.css")
body


	.container#peopleModule

		h1 add person
		input(type="text")
		button.addPerson#addPerson add person

		ul.people#people-template

			//- li
			//- 	span text
			//- 	i.del.material-icons delete




	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
	script(src="js/main.js")

	