html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  padding: 200px 50px 50px 50px;
}

h1 {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

li {
  display: inline-block;
  width: 200px;
  height: 26px;
  margin: 0 8px 10px;
  padding: 3px 10px;
  background-color: lightgreen;
  text-align: center;
  position: relative;
  line-height: 26px;
}

.del {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
}
